
@media (max-width: 1024px){
.team-overlay p{
	margin-top:25px;
 }
 .team-overlay h3 {
    margin-top: -4px;
 }
 .team-overlay a {
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    margin-right: 11px;
    margin-top: 35px;

 }
 .wellcome-header h2:before {
	width:45px;
    left: 32%;
}
.wellcome-header h2:after {
    width: 45px;
    left: 63%;
}

.team-header h2:before, .counter-footer h2:before, .contact-header h2:before {
    left: 24%;
}
.team-header h2:after, .counter-footer h2:after, .contact-header h2:after {
    left: 71%;
}

 .team-overlay h3:before {
    left: 33%;
 }
 #our-client a {
    padding: 8px 12px;
    margin-right: 21px;
 }
}




@media (max-width: 768px){
.logo-part {
    margin-left: -116px;
    margin-top: -49px;
}
.carousel-caption {
    top: 8%;
}
.carousel-caption > p {
    padding: 20px 0px;
}
.service-content p {
    max-width: 100%;
    margin: 0 auto;
}
.navbar-right > li > a {
    padding: 33px 14px;
    font-size: 12px;
 }
 .fixed .navbar-right > li > a {
    padding: 20px 14px;
 }
 .experence-content h1 {
    max-width: 100%;
 }
 .about-content {
    margin-bottom: 35px;
 }
 .skill-content img {
     margin-left: 80px;
 }
 .skill-content p {
    max-width: 75%;
    margin: 0 auto;
    padding: 21px;
 }
 .team-contentnt {
    margin-bottom: 25px;
 }
 .team-overlay a {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    margin-right: 20px;
    margin-top: 60px;
 }
 .team-overlay p {
    margin-top: 50px;
 }
 .timeline-title {
    font-size: 14px;
 }
 .element-item {
	width:50%;
	height:auto;
	float: left;
	border:5px solid #fff;
}
#our-client img {
    max-width: 80%;
    margin: 0 auto;
}
#our-client a {
    padding: 8px 0px;
    margin-right: 1px;
 }
 #twitter-part p {
    max-width: 100%;
 }
 .wellcome-header h2:before {
    left: 27%;
 }
 .wellcome-header h2:after {
    left: 66%;
 }
 .team-header h2:before, .counter-footer h2:before, .contact-header h2:before,  .about-heading h2:before {
    left: 16%;
}
.team-header h2:after, .counter-footer h2:after, .contact-header h2:after, .about-heading h2:after {
    left: 77%;
}
}







@media (max-width: 480px){
h2 {
    font-size: 12px;
}

.carousel-caption > h1 {
    font-size: 50px;
}
.carousel-caption h5:before {
    left: 35%;
}
.carousel-caption > p {
    padding: 20px 0%;
}
.logo-part {
    margin-left: -66px;
 }
 .service-content p {
    max-width: 75%;
    margin: 0 auto;
}
 .about-icon {
    margin-left: 20px;
}
.about-content p {
    max-width: 80%;
    margin: 0 auto;
} 
.experence-content h1 {
    font-size: 25px;
}
.skill-content img {
    max-width: 95%;
    margin: 0 auto;
 }
.skill-content p {
    max-width: 100%;
 }
 .counter-item {
    width: 100%;
    padding: 10px 0px;
 }
 .nav-pills li.active:after {
    bottom: -40px;
    left: 56%;
    margin-left: -27px;
    border-width: 20px;
}
.testimonials .testimonial-content p {
    font-size: 11px;
    line-height: 17px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #fff;
 }
 .team-overlay a {
    margin-top: 75px;
    margin-left: 25px;
}
.team-overlay h3 {
    margin-top: 3px;
    font-size: 25px;
}
.team-overlay h3:before {
    left: 43%;
    top: 33px;
}
 .page-content h1, .page-content h2 {
    font-size: 40px;
 }
 .page-content p {
    font-size: 25px;
    line-height: 140%;
}
ul.timeline > li > .timeline-badge {
    left: 22px;
    top: 22px;
 }
 ul.timeline > li > .timeline-panel {
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
 }
 .timeline-heading span {
    padding: 15px 13px;
    float: right;
    margin-top: -15px;
	margin-right:0px;
 }
.timeline-title {
    font-size: 14px;
    padding-left: 85px;
    margin-left: -10px;
}
 .second .timeline-body img {
    margin-right: 0px;
    max-width: 25%;
 }
 .timeline-toper {
    left: 4%;
 }
 .timeline-footer{
	 left:4%;
 }
 .button {
    padding: 0.5em 1em;
    font-size: 11px;
}
.element-item {
    width: 100%;
 }
 .impressed-content h1 {
    font-size: 30px;
 }
 #our-client a {
    padding: 14px 109px;
    border: 5px solid #fff;
 }
 #our-client p {
    max-width: 95%;
 }
 .wellcome-header h2:before {
    left: 14%;
 }
.wellcome-header h2:after {
    left: 75%;
 }
 .team-header h2:before, .counter-footer h2:before, .contact-header h2:before, .about-heading h2:before {
    left: 3%;
}
.team-header h2:after, .counter-footer h2:after, .contact-header h2:after, .about-heading h2:after {
    left: 85%;
}

}






@media (max-width: 320px){
 h1 {
    font-size: 25px;
}
.carousel-caption > h1 {
    font-size: 45px;
}
.carousel-caption h5:before {
    left: 28%;
}
.logo-part {
    margin-left: -36px;
}
.wellcome-header h2, .about-heading h2, .counter-footer h2, .team-header h2 {
    letter-spacing: 1px;
}
.experence-content h1 {
    font-size: 20px;
}
.nav-pills li {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.nav-pills li.active:after {
    border-color: #EEEEEE transparent transparent transparent;
 }
 .nav-pills > li > a {
    border-radius: 0px;
}
.service-content p {
    max-width: 100%;
    margin: 0 auto;
}
.team-overlay a {
    width: 35px;
    height: 35px;
    font-size: 24px;
    line-height: 35px;
    margin-right: -10px;
    margin-top: 50px;
 }
.team-overlay h3:before {
    left: 39%;
    top: 33px;
}
 .page-content h1, .page-content h2 {
    font-size: 25px;
	line-height: 140%;
 }
 .page-content p {
    font-size: 14px;
}
 .first-btn {
    margin-right: 10px;
 }
 .first-btn {
    padding: 13px 20px;
}
.first-btn:hover {
   padding: 13px 20px;
}
 #page-design:before {
    left: 52%;
 }
 .timeline-header h1 {
    font-size: 20px;
}
.timeline-title {
    font-size: 8px;
    padding-left: 16px;
    margin-left: -10px;
}
.timeline-heading span {
    padding: 15px 8px;
 }
 .timeline-toper {
    left: 6%;
}
.timeline-footer {
    left: 6%;
}
.button-group .button {
    margin: 5px 0px;
 }
 #our-works hr {
    margin-top: 1px;
}
.grid figcaption h3 {
    font-size: 18px;
}
.impressed-content h1 {
    font-size: 25px;
    line-height: 140%;
 }
 .client-header h2 {
    font-size: 20px;
}
.client-header h2:before {
    left: 36%;
}

#twitter-part h4:before, .contact-header p:before, .timeline-header h1:before {
    left: 40%;
}
#our-client a {
    padding: 14px 50px;
    border: 5px solid #fff;
}
#our-client p {
    max-width: 100%;
    text-align: justify;
}
#twitter-part p {
    text-align: justify;
}
#footer a {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    margin-right: 8px;
} 
.contact-header h2 {
    letter-spacing: 0px;
}
.wellcome-header h2:before {
    left: 4%;
}
.wellcome-header h2:after {
    left: 80%;
}
.wellcome-header h2, .about-heading h2, .counter-footer h2, .team-header h2 {
    letter-spacing: 0px;
    font-size: 11px;
}
.team-header h2:before, .counter-footer h2:before, .contact-header h2:before, .about-heading h2:before {
    left: -2%;
}
}








